.container {
  margin-top: 50px;
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--muted);
  border-top: 1px solid #e5e7eb;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoText {
  font-size: 26px;
  font-weight: 700;
}

.desc {
  font-weight: 300;
  max-width: 520px;
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.listTitle {
  font-weight: 700;
  color: var(--textColor);
}

@media screen and (max-width: 1024px) {
  .links {
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 32px;
  }

  .links {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 640px) {
  .links {
    font-size: 14px;
    gap: 24px;
  }
}